/Championship 2019-20.csv
/Championship 2020-21.csv
/Championship 2021-22.csv
/Championship 2022-23.csv
/Football Results.csv
/League 1 2019-20.csv
/League 1 2020-21.csv
/League 1 2021-22.csv
/League 1 2022-23.csv
/League 2 2019-20.csv
/League 2 2020-21.csv
/League 2 2021-22.csv
/League 2 2022-23.csv
/notes.txt
/Premiership 2012-13.csv
/Premiership 2013-14.csv
/Premiership 2014-15.csv
/Premiership 2012-23.csv
/Premiership 2015-16.csv
/Premiership 2017-18.csv
/Premiership 2020-21.csv
/Premiership 2016-17.csv
/Premiership 2019-20.csv
/Premiership 2018-19.csv
/Premiership 2021-22.csv
/Premiership 2022-23.csv
/Favourite Plot.png
/ELO Betting Logs.xlsx
/Prem Result Data 2022-23.xlsx
